/* custom ratio */
.embed-responsive-ratio-square {
  padding-bottom: 100%;
}

.embed-responsive-ratio-meet-the-team {
  padding-bottom: 80%;
}
/* bootstrap responsive utility doesn't work for <img>. Add it*/
.embed-responsive .embed-responsive-media-image {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}
.embed-responsive-media-image.item-1 {
  background:url('http://via.placeholder.com/300x250/?text=300x250x1') top center/cover no-repeat;
}
.embed-responsive-media-image.item-2 {
  background:url('http://via.placeholder.com/300x250/?text=300x250x2') top center/cover no-repeat;
}
.embed-responsive-ratio-square .embed-responsive-media-image.item-2 {
  background:url('http://via.placeholder.com/70x70/?text=70x70x2') top center/cover no-repeat;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .embed-responsive-ratio-square .embed-responsive-media-image.item-2 {
    background-image: url('http://via.placeholder.com/140x140/?text=140x140x2');
  }
}

.embed-responsive-media-image.item-3 {
  background:url('http://via.placeholder.com/300x250/?text=300x250x3') top center/cover no-repeat;
}
.embed-responsive-media-image.item-4 {
  background:url('http://via.placeholder.com/300x250/?text=300x250x4') top center/cover no-repeat;
}
.lili-ex-3 .item-group {
  position:relative;
}
.lili-ex-3 .item-group-content {
  position:absolute;
  left:0;
  top:0;
  right:0;
  bottom:0;
  background-color: red;
  color: #000;
  width: 100%;
  font-size: .85em;
  margin-left:0;
  margin-right:0;
  overflow:auto;
}
.lili-ex-3 .item-group-thumbnails .item-thumbnail,
.lili-ex-3 .item-group-content {
  cursor:pointer;
}
.lili-ex-3 .item-group .item-group-thumbnails .item-thumbnail .item-overlay{
  position:absolute;
  left:0;
  top:0;
  right:0;
  bottom:0;
  background:rgba(0,0,0,.5);
  text-align:center;
  opacity: 0;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
}
.lili-ex-3 .item-group .item-group-thumbnails .item-overlay p{
  width:100%;
  color:#fff;
}
.lili-ex-3 .item-group .item-group-thumbnails .item-thumbnail:hover .item-overlay{
  opacity: 1;
}
.lili-ex-3 .item-group.opened .item-group-thumbnails,
.lili-ex-3 .item-group.opened .item-group-title{
  opacity:0;
}
.lili-close {
  position: absolute;
  top: 0;
  right: 0;
  margin:0;
  padding: 1rem;
  font-size: 2rem;
}
.lili-ex-3 .media .embed-responsive {
  width: 70px;
}
.bg-grey{
  background-color:#ededed;
}
.bg-green{
  background-color:#d1dd26;
}
.bg-red{
  background-color:red;
}
.px-0{
  padding-left:0;
  padding-right:0;
}