.clear {clear:both;}
.floatl {float: left;}
.floatr {float: right;}
.imgvertc {position:absolute;top:0; bottom:0;left:0;right:0;margin:auto;}
img {border:none;}
.marhc {margin-left: auto; margin-right: auto;}
.none {display: none;}
.col-1 {
	display: inline-block;
	width: 100%;
	box-sizing: border-box;
	clear:both;
}
.col-2 {
	display: inline-block;
	width: 50%;
	box-sizing: border-box;
	text-align:center; /* For directly include <a> */
	float:left;
}
.col-3 {
	display: inline-block;
	width: 33%;
	box-sizing: border-box;
	text-align:center; /* For directly include <a> */
	float:left;
}
.col-2.l
,.col-3.l {clear: left;}
.nobg {background: none !important;}
.noborder {border:none !important;}
.imgvertc {position:absolute;top:0;bottom:0;left:0;right:0;margin:auto;}
