.lili-sec-video-2 {
  position:relative;
}
.lili-sec-video-2 .lili-div-item {
  display: block;
  position: relative;
  margin: 0 auto;
  width: 90%;
  max-width: 1600px;
}
.lili-sec-video-2 .lili-div-item.lili-div-logo img {
  position:absolute;
  z-index: 100;
  margin-top: 50px;
  margin-left: 15px;
}
.lili-sec-video-2 .lili-div-item.lili-div-content-div .lili-div-content{
  position:absolute;
  z-index: 100;
  margin-top: 20%;
  color:#fff;
  background-color:red;
}
.lili-sec-video-2 .lili-div-video {
  position:relative;
}
.lili-sec-video-2 .lili-div-video video{
  height: auto;
  vertical-align: middle;
  width: 100%;
  -webkit-object-fit: contain;
  -moz-object-fit: contain;
  -ms-object-fit: contain;
  -o-object-fit: contain;
  object-fit: contain;
  background: transparent url('https://picsum.photos/1600/1600/?random') no-repeat 0 0;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.lili-sec-video-2 .lili-div-arrow-down{
  font-size:2.5em;
  position:absolute;
  z-index:100;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  left:50%;
  bottom:1.5rem;
  cursor:pointer;
}

.lili-sec-video-2 .lili-div-arrow-down i {
  font-size:1em;
  color:#ffffff;
  opacity:.8;
}

@media all and (max-width: 1200px) {
  .lili-sec-video-2 .lili-div-item.lili-div-logo img {
    margin-top: 50px;
  }
  .lili-sec-video-2 .lili-div-item.lili-div-content-div .lili-div-content {
    margin-top: 25%;
  }
}
@media all and (max-width: 1000px) {
  .lili-sec-video-2 .lili-div-item.lili-div-logo img {
    margin-top: 60px;
  }
  .lili-sec-video-2 .lili-div-item.lili-div-content-div .lili-div-content {
    margin-top: 30%;
  }
}
@media screen and (max-width:700px) {
  .lili-sec-video-2 .lili-div-item.lili-div-logo img {
    display:none;
  }
}