.lili-bounce-down {
  animation: lili-bounce-down 3s infinite;
}
@keyframes lili-bounce-down {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}
.lili-spinner-circle-offset {
  animation: lili-rotator-0-270 1.4s linear infinite;
}
@keyframes lili-rotator-0-270 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(270deg);
  }
}
.lili-spinner-circle-offset circle {
  stroke-dasharray: 187;
  stroke-dashoffset: 0;
  transform-origin: center;
  animation: lili-circle-rotate-offset 1.4s ease-in-out infinite, lili-rotate-colors-4 5.6s ease-in-out infinite;
}
@keyframes lili-rotate-colors-4 {
  0% {
    stroke: #4285F4;
  }
  25% {
    stroke: #DE3E35;
  }
  50% {
    stroke: #F7C223;
  }
  75% {
    stroke: #1B9A59;
  }
  100% {
    stroke: #4285F4;
  }
}
@keyframes lili-circle-rotate-offset {
  0% {
    stroke-dashoffset: 187;
  }
  50% {
    stroke-dashoffset: 46.75;
    transform: rotate(135deg);
  }
  100% {
    stroke-dashoffset: 187;
    transform: rotate(450deg);
  }
}

/*region lili-fading-circle*/
.lili-fading-circle {
  width: 40px;
  height: 40px;
  position: relative;
}
.lili-fading-circle .lili-circle {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}
.lili-fading-circle .lili-circle:before {
  content: '';
  display: block;
  margin: 0 auto;
  width: 15%; /* circle size */
  height: 15%;
  background-color: #333;
  border-radius: 100%;
  animation: lili-circleFadeDelay 1.2s infinite ease-in-out both;
}
.lili-fading-circle .lili-circle2 {
  transform: rotate(30deg);
}
.lili-fading-circle .lili-circle3 {
  transform: rotate(60deg);
}
.lili-fading-circle .lili-circle4 {
  transform: rotate(90deg);
}
.lili-fading-circle .lili-circle5 {
  transform: rotate(120deg);
}
.lili-fading-circle .lili-circle6 {
  transform: rotate(150deg);
}
.lili-fading-circle .lili-circle7 {
  transform: rotate(180deg);
}
.lili-fading-circle .lili-circle8 {
  transform: rotate(210deg);
}
.lili-fading-circle .lili-circle9 {
  transform: rotate(240deg);
}
.lili-fading-circle .lili-circle10 {
  transform: rotate(270deg);
}
.lili-fading-circle .lili-circle11 {
  transform: rotate(300deg);
}
.lili-fading-circle .lili-circle12 {
  transform: rotate(330deg);
}
.lili-fading-circle .lili-circle2:before {
  animation-delay: -1.1s;
}
.lili-fading-circle .lili-circle3:before {
  animation-delay: -1s;
}
.lili-fading-circle .lili-circle4:before {
  animation-delay: -0.9s;
}
.lili-fading-circle .lili-circle5:before {
  animation-delay: -0.8s;
}
.lili-fading-circle .lili-circle6:before {
  animation-delay: -0.7s;
}
.lili-fading-circle .lili-circle7:before {
  animation-delay: -0.6s;
}
.lili-fading-circle .lili-circle8:before {
  animation-delay: -0.5s;
}
.lili-fading-circle .lili-circle9:before {
  animation-delay: -0.4s;
}
.lili-fading-circle .lili-circle10:before {
  animation-delay: -0.3s;
}
.lili-fading-circle .lili-circle11:before {
  animation-delay: -0.2s;
}
.lili-fading-circle .lili-circle12:before {
  animation-delay: -0.1s;
}
@keyframes lili-circleFadeDelay {
  0%, 39%, 100% { opacity: 0; }
  40% { opacity: 1; }
}
/*endregion*/

/*!
 * Load Awesome v1.1.0 (http://github.danielcardoso.net/load-awesome/)
 * Copyright 2015 Daniel Cardoso <@DanielCardoso>
 * Licensed under MIT
 */
.la-ball-spin-fade-rotating,
.la-ball-spin-fade-rotating > div {
  position: relative;
  box-sizing: border-box;
}
.la-ball-spin-fade-rotating {
  display: block;
  font-size: 0;
  color: #fff;
}
.la-ball-spin-fade-rotating.la-dark {
  color: #333;
}
.la-ball-spin-fade-rotating > div {
  display: inline-block;
  float: none;
  background-color: currentColor;
  border: 0 solid currentColor;
}
.la-ball-spin-fade-rotating {
  width: 32px;
  height: 32px;
  animation: ball-spin-fade-rotate 6s infinite linear;
}
.la-ball-spin-fade-rotating > div {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 8px;
  height: 8px;
  margin-top: -4px;
  margin-left: -4px;
  border-radius: 100%;
  animation: ball-spin-fade 1s infinite linear;
}
.la-ball-spin-fade-rotating > div:nth-child(1) {
  top: 5%;
  left: 50%;
  animation-delay: -1.125s;
}
.la-ball-spin-fade-rotating > div:nth-child(2) {
  top: 18.1801948466%;
  left: 81.8198051534%;
  animation-delay: -1.25s;
}
.la-ball-spin-fade-rotating > div:nth-child(3) {
  top: 50%;
  left: 95%;
  animation-delay: -1.375s;
}
.la-ball-spin-fade-rotating > div:nth-child(4) {
  top: 81.8198051534%;
  left: 81.8198051534%;
  animation-delay: -1.5s;
}
.la-ball-spin-fade-rotating > div:nth-child(5) {
  top: 94.9999999966%;
  left: 50.0000000005%;
  animation-delay: -1.625s;
}
.la-ball-spin-fade-rotating > div:nth-child(6) {
  top: 81.8198046966%;
  left: 18.1801949248%;
  animation-delay: -1.75s;
}
.la-ball-spin-fade-rotating > div:nth-child(7) {
  top: 49.9999750815%;
  left: 5.0000051215%;
  animation-delay: -1.875s;
}
.la-ball-spin-fade-rotating > div:nth-child(8) {
  top: 18.179464974%;
  left: 18.1803700518%;
  animation-delay: -2s;
}
.la-ball-spin-fade-rotating.la-sm {
  width: 16px;
  height: 16px;
}
.la-ball-spin-fade-rotating.la-sm > div {
  width: 4px;
  height: 4px;
  margin-top: -2px;
  margin-left: -2px;
}
.la-ball-spin-fade-rotating.la-2x {
  width: 64px;
  height: 64px;
}
.la-ball-spin-fade-rotating.la-2x > div {
  width: 16px;
  height: 16px;
  margin-top: -8px;
  margin-left: -8px;
}
.la-ball-spin-fade-rotating.la-3x {
  width: 96px;
  height: 96px;
}
.la-ball-spin-fade-rotating.la-3x > div {
  width: 24px;
  height: 24px;
  margin-top: -12px;
  margin-left: -12px;
}
@keyframes ball-spin-fade-rotate {
  100% {
    transform: rotate(360deg);
  }
}
@keyframes ball-spin-fade {
  0%,
  100% {
    opacity: 1;
    transform: scale(1);
  }
  50% {
    opacity: .25;
    transform: scale(.5);
  }
}

/*region Icomoon*/
.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}
/*endregion*/

/*region button effects*/
.cbutton {
  position: relative;
  display: inline-block;
  margin: 1em;
  padding: 0;
  border: none;
  background: none;
  color: #286aab;
  font-size: 1.4em;
  transition: color 0.7s;
}
.cbutton.cbutton--click,
.cbutton.cbutton--repeat,
.cbutton:focus {
  outline: none;
  color: #3c8ddc;
}
.cbutton__icon {
  display: block;
}
.cbutton__text {
  position: absolute;
  opacity: 0;
  pointer-events: none;
}
.cbutton::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -35px 0 0 -35px;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  opacity: 0;
  pointer-events: none;
}
.cbutton--effect-boris::after {
  background: rgba(111,148,182,0.1);
}
.cbutton--effect-boris.cbutton--click::after {
  animation: anim-effect-boris 0.3s forwards;
}
.cbutton--effect-boris.cbutton--repeat::after {
  animation: anim-effect-boris-repeat 3.3s infinite forwards;
}
@keyframes anim-effect-boris {
  0% {
    transform: scale3d(0.3, 0.3, 1);
  }
  25%, 50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: scale3d(1.2, 1.2, 1);
  }
}
@keyframes anim-effect-boris-repeat {
  /* animation is 0.3 second, delay is 3 second, total 3.3 second */
  /* 0x0.3/3.3 25%x0.3/3.3 50%x0.3/3.3 100%x0.3/3.3 */
  0% {
    transform: scale3d(0.3, 0.3, 1);
  }
  2.27%, 4.55% {
    opacity: 1;
  }
  9.09% {
    opacity: 0;
    transform: scale3d(1.2, 1.2, 1);
  }
  100% {
    opacity: 0;
    transform: scale3d(1.2, 1.2, 1);
  }
}
/*endregion*/
