.lili-ex .item{
  background-color: #4DC7A0; /* good for debug */
}
.lili-ex .item > img{
  background-color: red; /* good for debug */
}
#lili-ex-1 .item{
  height: 10rem;
  display:flex;
  align-items:center;
}
#lili-ex-1 .item > img {
  margin:0 auto;
  max-height:4rem;
  max-width:100%;
  width:auto;
}
/* these are .item's that are extra wide and need to shrink in width */
.lili-logo-2,.lili-logo-3,.lili-logo-6,.lili-logo-8,.lili-logo-9,.lili-logo-11,.lili-logo-12,.lili-logo-13 {
  /*width:100% !important;*/
}
@media (max-width:1000px) {
  /* Calculate next viewport width in javascript. No CSS is needed */
}
@media (max-width:600px) {
  /* For displaying 1 item. You may need to set those extra width items to width:auto */
  .lili-logo-2,.lili-logo-3,.lili-logo-6,.lili-logo-8,.lili-logo-9,.lili-logo-11,.lili-logo-12,.lili-logo-13 {
    /*width:auto !important;*/
  }
}
#lili-ex-2 .cs-i-logos {
  display:flex;
  flex-wrap:wrap;
  justify-content:space-around;
  align-items:center;
  height:124px; /* comment out this first and get the largest height at largest viewport */
}
#lili-ex-2 .cs-i-logos figure{
  flex:0 0 100px; /* fixed width for logos, this is usually larger than the biggest item width. Pay attention to the total width and your cut-off point which is 768px */
  margin-left:0;
  margin-right:0;
  margin-bottom:0;
  cursor:pointer;
}
#lili-ex-2 .cs-i-logos figure .figure-img{
  margin-bottom:0;
}
#lili-ex-2 .cs-i-logos figure.cs-i-wbtv,
#lili-ex-2 .cs-i-logos figure.cs-i-archi-digest{
  flex:0 0 60px; /* adjust logos that are too high (e.g. it's a square vs others rectangles) */
  /* padding-top: 7px; move down certain logos */
}
@media (max-width:768px) {
  #lili-ex-2 .cs-i-logos figure{
    padding-top:0!important; /* This is reset the top padding for any item that has padding-top set on desktop */
    flex:0 0 70px; /* #lili-ex-2 .cs-i-logos figure is used to fixed height flex:0 0 100px as above*/
    /* change it to 70px */
    /* or set it to auto height */
    /* flex:0 0 auto; */

  }
  #lili-ex-2 .cs-i-logos {
    flex-direction: column;
    height:350px; /* Figure out the item with the largest height and times the number of items in any group. new fixed height 70 * 5 items = 350px */
  }
  /* set img to contain inside the figure */
  #lili-ex-2 .cs-i-logos figure .figure-img{
    width:auto;
    max-height:40px; /* figure total height is 70px, set to a smaller value to create space */
  }
  /* If you want to the same width and height on mobile as on desktop */
  /*
  #lili-ex-2 .cs-i-logos figure.cs-i-wbtv .figure-img{
    max-height:45px;
  }
  */
}